<dl>
    <% FOREACH vlan IN vlans %>
        <dt>VLAN: <a href="<% request.base %>view_vlan/<% vlan.id %>"><% vlan.name %></a></dt>
        <ul>
            <% FOREACH subnet IN vlan.subnets %>
                <% IF subnet.id %>
                    <dd><li><a href="<% request.base %>subnet/<% subnet.id %>"><% subnet.network.int2ip %><% subnet.prefix %></a></li></dd>
                <% END %>
            <% END %>
        </ul>
    <% END %>
</dl>
